body {
 font-family:Impact, fantasy;
  font-size: 20px;
  background: #FBEFFB;
  text-align:center;
}

.Stform{
  background-color:#EFF5FB;
}

.b1{
  background-color:#EFF5FB;

  text-decoration: none;
  padding: .8em 1em calc(.8em + 3px);
  border-radius: 3px;
  box-shadow: 0 -3px #A9D0F5 inset;

}

@media all and (orientation: landscape), (min-width: 768px) {
  body {
    font-size: 32px;
  }
  
  h2 {
    font-size: 56px;
  }
  .Stform {
    font-size: 20px;
  }

}
